<% layout('layouts/boilerplate') %>
    <h1> Edit a Holiday</h1>
    <form action="/holidays/<%= holiday._id %>?_method=PUT" method="POST">
        <div>
            <label for="traveler_name"> Traveler Name</label>
                <input type="text" id="traveler" name="holiday[traveler_name]" value="<%= holiday.traveler_name %>">
                <div>
                <label for="destination"> Destination</label>
                <input type="text" id="destination" name="holiday[destination]" value="<%= holiday.destination %>">
            </div>
            <button> Edit Holiday</button>
        </div>
    </form>
        <a href="/holidays/<%=holiday._id%>"> Back to All Holidays</a>