<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holidays</title>
</head>
<body>
    <h1> Popular Holiday Destinations</h1>
    <div>
        <a href="/holidays/new"> Add Holiday</a>
    </div>
    <ul> 
        <% for (let holiday of holidays) { %>
        <li><a href="holidays/<%=holiday._id %>"><%= holiday.destination %></a></li>
        <% }%>
    </ul>
</body>
</html>