    <% layout('layouts/boilerplate') %>
    <h1> Popular Holiday Destinations</h1>
    <div>
        <a href="/holidays/new"> Add Holiday</a>
    </div>
        <% for (let holiday of holidays) { %>
            <div class="card" mb-3></div>
            <div class="row"></div>
            <div class="col-md-4"></div>
            <img class="img-fluid" src = <%= holiday.image %> alt="">
        <% }%>
