<% layout('layouts/boilerplate') %>
    <title>Add a new holiday</title>
</head>
<body>
    <h1> Add a Holiday</h1>
    <form action="/holidays" method="POST">
        <div>
            <label for="traveler_name"> Traveler Name</label>
                <input type="text" id="traveler" name="holiday[traveler_name]">
                <div>
                <label for="destination"> Destination</label>
                <input type="text" id="destination" name="holiday[destination]">
            </div>
            <button> Add Holiday</button>
        </div>
    </form>
        <a href="holidays"> All Holidays</a>
