<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Holidays</title>
    
</head>
<body>
    <h1><%= holiday.traveler_name %></h1>
    <h2><%= holiday.destination %></h2>
   
    <a href="/holidays/<%=holiday._id%>/edit"> Edit Holiday</a>
   <form action="/holidays/<%= holiday._id %>?_method=DELETE" method="POST">
    <button> Delete Holiday</button>
   </form>
   <footer> 
   <a href="/holidays"> All Holidays</a>
</footer>

</body>
</html>