<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show trips</title>
    
</head>
<body>
    <h1><%= holiday.traveler_name %></h1>
    <h2><%= holiday.destination %></h2>
    <a href="/holidays"> All Holidays</a>
</body>
</html>